#logo	{
	height:100px;
}

.navbar{
	flex-direction: row;
	justify-content:space-evenly;
}


h1	{
	font-family: pacifico;
	color:#6D5959;
	font-size:75px;
}



.btn {
	color:white;
	background-color: #5D737E;
	font-family: pacifico;
	font-size:25px;
	border-radius: 5px;
	size:500px;
}

a {
	color:#5D737E;
}
a:hover {
  color: #6D5959;
}