
h1	{
	font-family: pacifico;
	color:#6D5959;
	font-size:50px;
}


h2 {
	font-family: pacifico;
	color:#5D737E;
	font-size:30px;
}

h3 {
	font-family: pacifico;
	color:#FCFCFC;
	font-size:30px;
}

h4 {
	font-family:quicksand;
	font-size:20px;
}

a {
	color:#5D737E;
}
a:hover {
  color: #6D5959;
}


#logo	{
	height:100px;
}


.navbar{
	flex-direction: row;
	justify-content: space-between;
}


.btn {
	color:white;
	background-color: #5D737E;
	font-family: pacifico;
	font-size:20px;
	border-radius: 5px;
	size:500px;
}

.btn-group{
	padding-right: 30px;
}

.dropdown-item {
	font-size:30px;
	font-family: pacifico;
}


#footer{
	flex-direction: row;
	display:flex;
	justify-content: space-between;
	padding-right: 100px;
	padding-left:100px;
	padding-bottom: 75px;
}


.logo_reseaux {
	height:40px;
	margin-right: 40px;
}


.reseaux{
	display: flex;
	flex-direction: row;
}

#banner{
	min-height: 500px;
	max-height:500px;
	min-width: 500px;
}

.d-block{
	max-height: 500px;
	min-height:500px;
	min-width: 500px;
	size: cover;
}

.search {
	height: 20px;
}

p {
  font-family: quicksand;
}

h5 {
  font-family:quicksand , sans-serif;
}

h6 {
    font-size: 14px;
    font-style: italic;
	font-family: quicksand;
}


.row{
	display:flex;
	justify-content:space-around;
}

.section {
  padding: 80px 10px;
  background: #2e3d4d;
}

.section h1 {
  color: white;
  margin-bottom: 50px;
}

.section h2 {
  font-size: 18px;
}

.section p {
  font-size: 12px;
}

.vietnam-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.srilanka-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.turquie-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.thailand-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.inde-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.bresil-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.indonesie-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.mexique-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.chine-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.canada-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.egypte-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.japon-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
}




